<!-- Header -->
<div class="row">
  <div class="blood-header">
    <div class="container">
      <center>
        <h1 class="text-white">Looking for Blood Donors?</h1>
        <p class="text-white">Please complete the form below, we will notify when potential donors with your blood type will be available.</p>
      </center>
    </div>
  </div>
</div>

<%= render 'partials/flash' %>